#header{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    padding: 10px;
    background-clip: text;
    color: white;
    background: linear-gradient(to right, #9cac12, #0ebbff)
}
#title{
    display: flex;
    font-size: larger;
    color: black;
    
}
#logo{
    border-radius: 50%;
    width: 100px;
}
body{
  background-color:  rgb(161, 160, 160);
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    font-size: large;
    position: absolute;
    top: 30px;
}

#linux{
    margin: auto;
    width: 80%;
}
.game{
    background-color: antiquewhite;
    width: 300px;
}


.gamage{
    width: 300px;
    height: 350px;
}
#games{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px;
}
#displayer{
    text-align: center;
}
.declare{
    height: 50px;
    background: linear-gradient(to right, #9cac12, #0ebbff)
}
#cartlogo{
    width: 30px;
    height: 30px;
}
#cart{
    width: 700px;
    margin:0;
    right:1;
    background: linear-gradient(to right, #9cac12, #0ebbff)
}
.list{
    font-size: large;
}
